<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 context">
          <img src="./assets/images/undraw_password.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mt-5 mb-4">
              <h3 class="topic">Forgot Password</h3>
              <p class="mb-4"> Please enter your registered email where we will requested admin that the password be reset for the following account</p>
            </div>
            <form #passwordForm="ngForm" (ngSubmit)="forgotpass(passwordForm.value)" novalidate>
              <div class="form-group first">
                <input type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" name="email" #email="ngModel" autocomplete="off" placeholder="EmailId" ngModel>
              </div>
              <div class="errormessage">
                <span *ngIf="email.invalid && email.touched" >Enter the Valid EmailId </span>
              </div>             
              <input type="submit" [disabled]="passwordForm.invalid" value="Reset Password Link" class="btn btn-block btn-primary mt-3">
              <div class="fpass mt-3">
                <a href="#" class="txt1 text-center" routerLink="/login">
                  Back to Login ?
                </a>
              </div>
            </form>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
