<app-header></app-header>

<div class="container-fluid mt-05">
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email Address</th>
            <th>Mobile Number</th>
            <th>Date Of Birth</th>
            <th>Employee Number</th>
            <th>Job Position</th>
            <th>Date Of Hire</th>
            <th>Employee Status</th>
            <!-- <th>Current Address</th>
            <th>Home Address</th> -->
            <th>Actions</th>
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor= "let employee of employees">
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.gender }}</td>
          <td>{{ employee.emailid }}</td>
          <td>{{ employee.mobileNumber }}</td>
          <td>{{ employee.dateofbirth }}</td>
          <td>{{ employee.empid }}</td>
          <td>{{ employee.jobposition }}</td>
          <td>{{ employee.dateofhire }}</td>
          <td>{{ employee.empstatus }}</td>
          <!-- <td>{{ employee.currentaddress }}</td>
          <td>{{ employee.homeaddress }}</td> -->
          <td>
            <button (click) = "updateEmployee(employee)" class = "btn btn-success" style="margin-right: 5px" data-bs-toggle="modal" data-bs-target="#UpdateModal"><img src="./assets/images/edit.png" alt="Image" class="img-fluid"></button>
            <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-right: 5px"><img src="./assets/images/delete.png" alt="Image" class="img-fluid"></button>
            <button (click) = "viewEmployee(employee)" class = "btn btn-primary" data-bs-toggle="modal" data-bs-target="#ViewModal"><img src="./assets/images/view.png" alt="Image" class="img-fluid"></button>
          </td>
        </tr>
    </tbody>
 </table>

 <!--Update Model-->
 <div class="modal fade " id="UpdateModal"  tabindex="-1" aria-labelledby="UpdateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="title" id="UpdateModalLabel">Update Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
              <form (ngsubmit)="onSubmitUpdate()">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">                     
                          <div class="form-group mb-3">
                              <label><strong>First Name </strong></label>
                              <input type="text" class="form-control" id="firstName" placeholder="First Name"
                              [(ngModel)] = "employee.firstName" name="firstName">
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">  
                          <div class="form-group mb-3">
                              <label><strong>Last Name</strong></label>
                              <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                              [(ngModel)]  = "employee.lastName" name="lastName">
                          </div>
                     </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                        <div class="form-group mb-3">
                          <label for="gender"><strong>Gender&nbsp;<span class="required">*</span></strong></label>
                          <select class="box_1" required name="gender" [(ngModel)]  = "employee.gender" autocomplete="off" >  
                              <option value="undefined" selected >Select your gender</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                          </select>
                      </div>
                      </div>
                </div>
                <div class="row ">
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                          <div class="form-group mb-3">
                              <label><strong>Email Address</strong></label>
                              <input type="text" class="form-control" id="emailid" placeholder="Email Id"
                              [(ngModel)]  = "employee.emailid" name="emailid">
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                          <div class="form-group mb-3">
                              <label><strong>Mobile Number</strong></label>
                                <input type="number" class="form-control" id="mobileNumber" placeholder="Mobile Number"
                                [(ngModel)]  = "employee.mobileNumber" name="mobileNumber">
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                          <div class="form-group mb-3">
                            <label><strong>Date Of Birth </strong></label>
                            <input type="date" class="form-control" id="dateofbirth" placeholder="Date Of Birth"
                              [(ngModel)]  = "employee.dateofbirth" name="dateofbirth">
                          </div>
                      </div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                        <div class="form-group mb-3">
                              <label><strong>Employee Number</strong></label>
                              <input type="number" class="form-control" id="empid" placeholder="Employee Id"
                              [(ngModel)]  = "employee.empid" name="empid">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                      <div class="form-group mb-3">
                        <label><strong>Job Position&nbsp;<span class="required">*</span></strong></label>
                        <select name="jobposition" required class="box_1" [(ngModel)]  = "employee.jobposition" autocomplete="off" >  
                            <option value="undefined" selected >Select a job position</option>
                            <option value="Full Stack developer">Full Stack developer</option>
                            <option value="Back end developer">Back end developer</option>
                            <option value="Front end developer">Front end developer</option>
                            <option value="UI/UX designer">UI/UX designer</option>
                            <option value="Graphic designer">Graphic designer</option>
                            <option value="Content writer">Content writer</option>
                            <option value="Software Testing">Software Testing</option>
                        </select>
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                      <div class="form-group mb-3">
                        <label><strong>Date Of Hire</strong></label>
                          <input type="date" class="form-control" id="dateofhire" placeholder="Date Of Hire"
                          [(ngModel)]  = "employee.dateofhire" name="dateofhire">
                      </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">   
                      <div class="form-group mb-3">
                        <label><strong>Employee Status&nbsp;<span class="required">*</span></strong></label>
                        <select name="empstatus" class="box_1" [(ngModel)]  = "employee.empstatus" >  
                            <option value="undefined" selected >Select the employee status</option>
                            <option value="Full Time">Full Time</option>
                            <option value="Temporary">Temporary</option>
                            <option value="At the Contract">At the Contract</option>
                        </select>
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                        <div class="form-group mb-3">
                           <label><strong>Current Address</strong></label>
                            <input type="text" class="form-control" id="currentaddress" placeholder="Current Address"
                            [(ngModel)]  = "employee.currentaddress" name="currentaddress">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                          <div class="form-group mb-3">
                            <label><strong>Home Address</strong></label>
                            <input type="text" class="form-control" id="homeaddress" placeholder="Home Address"
                            [(ngModel)]  = "employee.homeaddress" name="homeaddress">
                          </div>
                    </div>
                  </div>
              </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn-0 btn-0a" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn-6 btn-6a" data-bs-dismiss="modal" (click)="onSubmitUpdate()">Update</button>
        </div>
     </div>
  </div>
</div>


<!--View Model-->
<div class="modal fade " id="ViewModal"  tabindex="-1" aria-labelledby="ViewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="title" id="ViewModalLabel">View Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
              <form>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">                     
                          <div class="form-group mb-3">
                            <label><strong>First Name </strong></label>
                              <input type="text" class="form-control one" id="firstName" placeholder="First Name"
                              [(ngModel)] = "employee.firstName" name="firstName" disabled="true">
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">  
                          <div class="form-group mb-3">
                            <label><strong>Last Name</strong></label>
                              <input type="text" class="form-control one" id="lastName" placeholder="Last Name"
                              [(ngModel)]  = "employee.lastName" name="lastName" disabled="true">
                          </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                      <div class="form-group mb-3">
                        <label for="gender"><strong>Gender</strong></label>
                          <input type="text" class="form-control one" id="gender" placeholder="Gender"
                          [(ngModel)]  = "employee.gender" name="gender" disabled="true">
                      </div>
                  </div>
                </div>
                <div class="row ">
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                          <div class="form-group mb-3">
                            <label><strong>Email Address</strong></label>
                              <input type="text" class="form-control one" id="emailid" placeholder="Email Id"
                              [(ngModel)]  = "employee.emailid" name="emailid" disabled="true">
                          </div>
                      </div>
                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                        <div class="form-group mb-3">
                          <label><strong>Mobile Number</strong></label>
                          <input type="number" class="form-control one" id="mobileNumber" placeholder="Mobile Number"
                          [(ngModel)]  = "employee.mobileNumber" name="mobileNumber" disabled="true">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group mb-3">
                          <label><strong>Date Of Birth </strong></label>
                           <input type="date" class="form-control one" id="dateofbirth" placeholder="Date Of Birth"
                            [(ngModel)]  = "employee.dateofbirth" name="dateofbirth" disabled="true">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                        <div class="form-group mb-3">
                              <label><strong>Employee Number</strong></label>
                              <input type="number" class="form-control one" id="empid" placeholder="Employee Id"
                              [(ngModel)]  = "employee.empid" name="empid" disabled="true">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                          <div class="form-group mb-3">
                            <label><strong>Job Position</strong></label>
                              <input type="number" class="form-control one" id="jobposition" placeholder="Job Position"
                              [(ngModel)]  = "employee.jobposition" name="jobposition" disabled="true">
                          </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                        <div class="form-group mb-3">
                            <label><strong>Date Of Hire</strong></label>
                            <input type="date" class="form-control one" id="dateofhire" placeholder="Date Of Hire"
                            [(ngModel)]  = "employee.dateofhire" name="dateofhire" disabled="true">
                        </div>
                    </div>
                </div>
                <div class="row ">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">   
                    <div class="form-group mb-3">
                      <label><strong>Employee Status </strong></label>
                      <input type="text" class="form-control one" id="empstatus" placeholder="Employee Status"
                      [(ngModel)]  = "employee.empstatus" name="empstatus" disabled="true">
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                        <div class="form-group mb-3">
                          <label><strong>Current Address</strong></label>
                            <input type="text" class="form-control one" id="currentaddress" placeholder="Current Address"
                            [(ngModel)]  = "employee.currentaddress" name="currentaddress" disabled="true">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                          <div class="form-group mb-3">
                            <label><strong>Home Address</strong></label>
                            <input type="text" class="form-control one" id="homeaddress" placeholder="Home Address"
                            [(ngModel)]  = "employee.homeaddress" name="homeaddress" disabled="true">
                          </div>
                    </div>
                  </div>
              </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn-6 btn-6a" data-bs-dismiss="modal">Close</button>
        </div>
     </div>
  </div>
</div>
</div>

<app-footer></app-footer>